@import "../../node_modules/bootstrap/scss/bootstrap";

html {
  background-color: #3EECAC;
  background-image: linear-gradient(19deg, #3EECAC 0%, #EE74E1 100%);
  background-repeat: no-repeat;
  height: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  background: transparent;
}

.row {
  div[class^="col-sm"] {
    margin-bottom: 10px;
    button {
      font-size: 18px;
      font-weight: bold;
    }
  }
}

.container {
  margin-top: 15px;
  #screen {
    font-size: 18px;
    font-weight: bold;
  }
}